@model CRM_Upack_kz.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "_Layout";
}
<div id="BaseBody" class="text-center col col-sm-3 col-md-4 col-lg-12"></div>

<div class="baseElement col-md-4 pt-3 pb-4">
    <h2>Регистрация пользователя</h2>
    <form asp-action="Register" asp-controller="Account" method="post" enctype="multipart/form-data">
        @{ 
            Html.RenderPartial("PartialViews/UserFormPartial", Model);
        }
        <div>
            <input type="submit" id="register" class="btn btn-outline-primary" value="Регистрация">
        </div>
    </form>
</div>


@section Scripts
{
    <script >
    $(document).ready(function () {
        $('#caption').text("Добавьте нового пользователя");
    });
    
    
 </script>
}
