

<div id="BaseBody" class="text-center col col-sm-3 col-md-4 col-lg-12"></div>
<div class="baseElement card mb-3" style="max-width: 540px;">
    <div class="row g-0 shadow">
        <div class="col-md-4">
            <img src="..\..\/Images/Ok/ok.png" class="img-fluid rounded-start p-4" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title">Внимание!</h2>
                <p class="card-text">Пароль был успешно изменён.</p>
                <p class="card-text"><small class="text-muted">Последнее обновление 1 минуту назад</small></p>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script >
        $(document).ready(function () {
            $('#caption').text("Изменение пароля");
        });
    </script>
}