@model CRM_Upack_kz.ViewModels.ApplViewModel

@{
    Layout = "_Layout";
}
<div id="BaseBody" class="text-center col col-sm-3 col-md-4 col-lg-12"></div>
<div class="baseElement col-md-4 pt-3 pb-4 ">
    <h4>Заполните поля</h4>
    <form asp-action="Create" asp-controller="Applications" method="post" enctype="multipart/form-data">
        @{
            Html.RenderPartial("PartialViews/ApplicationFormPartial", @Model);
        }
        <div>
            <input type="submit" id="edit" class="btn btn-outline-primary shadow-sm" value="Создать">
        </div>
    </form>
</div>



@section Scripts
{
    <script >
    $(document).ready(function () {
        $('#caption').text("Добавьте новое обращение");
    });
    
        
    function GetInfoClientAjax(){
        var codeClient = $('#codeClient').val();
                
        $.ajax({
            url : '@Url.Action("GetInfoClientAjax", "Applications")',
            type : 'GET',
            data : {
                'codeClient' : codeClient
            },
            success : function (data){
                if (data === "Клиент не найден, заполните клиента") {
                   $('#nameClient').val('');
                   $('#nameClient').attr('placeholder', data);
                   $('#nameClient').attr('disabled', false);
                   $('#hiddenClient').val('');
                }
                else {
                    $('#nameClient').val(data); 
                    $('#nameClient').attr('disabled', true);
                    $('#hiddenClient').val(data);
                }
            }
        });
    }
 </script>
}


