@using CRM_Upack_kz.Enums
@model CRM_Upack_kz.ViewModels.ApplViewModel

@{
    Layout = "_Layout";
}

<div id="BaseBody" class="text-center col col-sm-3 col-md-4 col-lg-12"></div>
@if (ViewBag.StateAppl == AppState.Закрыта)
{
    <div class="baseElement col-md-4 pt-3 pb-4 ">
        <h4>Данное обращение было закрыто</h4>
    </div>
}
else if (ViewBag.StateAppl == AppState.Ожидается)
{
    <div class="baseElement card mb-3" style="max-width: 540px;">
      <div class="row g-0 shadow">
        <div class="col-md-4">
          <img src="..\..\/Images/Warning/warning.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Внимание!</h5>
            <p class="card-text">Данное обращение редатировать запрещено.</p>
            <p class="card-text"><small class="text-muted">Последнее обновление 3 минуты назад</small></p>
          </div>
        </div>
      </div>
    </div>
}
else
{
    <div class="baseElement col-md-4 pt-3 pb-4 ">
        <h4>Заполните поля</h4>
        <form asp-action="Edit" asp-controller="Applications" method="post" asp-route-applId="@ViewBag.ApplId" enctype="multipart/form-data">
            @{
                Html.RenderPartial("PartialViews/ApplicationFormPartial");
            }
            <div>
                <input type="submit" id="edit" class="btn btn-outline-primary shadow-sm" value="Изменить">
            </div>
        </form>
    </div>
}

@section Scripts
{
    <script >
    $(document).ready(function () {
        $('#caption').text("Измените обращение");
    });
    
    function GetInfoClientAjax(){
        var codeClient = $('#codeClient').val();
                
        $.ajax({
            url : '@Url.Action("GetInfoClientAjax", "Applications")',
            type : 'GET',
            data : {
                'codeClient' : codeClient
            },
            success : function (data){
                if (data === "Клиент не найден, заполните клиента") {
                   $('#nameClient').val('');
                   $('#nameClient').attr('placeholder', data); 
                }
                else {
                    $('#nameClient').val(data); 
                }
            }
        });
    }
 </script>
}